body {
    font-family: Arial;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    text-align: center;
}

.card {
    background: rgba(255,255,255,0.1);
    padding: 20px;
    margin: 20px auto;
    width: 400px;
    border-radius: 10px;
}

input {
    display: block;
    width: 90%;
    margin: 10px auto;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background: #3b82f6;
    border: none;
    color: white;
    cursor: pointer;
}